<div class="section" id="projects">
    <div class="container">
        <div class="h4 text-center mb-4 title">PROJECTS</div>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body pb-0">
                        <h4 class="card-title text-center mt-0 mb-3">Web Development</h4>
                        <app-project-cards [projects]="projects.webAppProjects"></app-project-cards>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body pb-0">
                        <h4 class="card-title text-center mt-0 mb-3">Data Analytics</h4>
                        <app-project-cards [projects]="projects.mlProjects"></app-project-cards>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>