<div class="section" id="skills">
    <div class="container">
        <div class="h4 text-center mb-4 title">SKILLS</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 badge" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <div class="h5">Programming Languages</div>
                    </div>
                </div>
                <div class="col-md-9 px-0" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body px-0 d-flex flex-column justify-content-center">
                        <app-skills-slider [skills]="skills.programmingLangs"></app-skills-slider>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 badge" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <div class="h5">Web Technologies</div>
                    </div>
                </div>
                <div class="col-md-9 px-0" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body px-0 d-flex flex-column justify-content-center">
                        <app-skills-slider [skills]="skills.webTechnologies"></app-skills-slider>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 badge" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <div class="h5">Databases</div>
                    </div>
                </div>
                <div class="col-md-9 px-0" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body px-0 d-flex flex-column justify-content-center">
                        <app-skills-slider [skills]="skills.databases"></app-skills-slider>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 badge" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <div class="h5">Tools and Cloud Technologies</div>
                    </div>
                </div>
                <div class="col-md-9 px-0" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body px-0 d-flex flex-column justify-content-center">
                        <app-skills-slider [skills]="skills.toolsAndCloudTechnologies"></app-skills-slider>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>