<div class="section" id="contact">
    <div class="container">
        <div class="h4 mt-0 title text-center">CONTACT</div>
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card-body">
                        <div>
                            <div class="email">
                                <div class="d-flex">
                                    <div class="btn btn-round btn-lg btn-icon">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="ml-3">
                                        <h4 class="m-0">EMAIL:</h4>
                                        <p class="m-0">anilkumarmureboina1998<span>&#64;</span>gmail.com</p>
                                    </div>
                                </div>
                            </div>
                            <div class="phone">
                                <div class="d-flex">
                                    <div class="btn btn-round btn-lg btn-icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="ml-3">
                                        <h4 class="m-0">CALL:</h4>
                                        <p class="m-0">+1 (703) 409-8986</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>