<div class="section" id="about">
    <div class="container">
        <div class="h4 mb-4 title text-center">ABOUT</div>
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body pb-0 me-md-2 me-lg-2">
                        <p>{{about.para_01}}</p>
                        <p>{{about.para_02}}</p>
                        <div class="col-md-6">
                            <ul class="px-3">
                                <li>Name: Anil Kumar Mureboina</li>
                                <li>Age: 26</li>
                                <li>Degree: Master of Science in Data Analytics Engineering</li>
                                <li>Experience: Full Stack Java Developer</li>
                            </ul>
                        </div>
                        <p>{{about.para_03}}</p>
                        <p>{{about.para_04}}</p>
                        <p>{{about.para_05}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>