<div class="section" id="about">
    <div class="container">
        <div class="h4 mt-0 title text-center">ABOUT</div>
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <img [src]="profileImage" alt="Profile Photo">
                </div>
                <div class="col-lg-8 col-md-12 pl-md-0 pl-lg-0">
                    <div class="card-body pb-0 mr-md-2 mr-lg-2">
                        <p>{{about}}</p>
                        <div class="col-md-6">
                            <ul class="p-2">
                                <li>Name: Anil Kumar Mureboina</li>
                                <li>Age: 26</li>
                                <li>Degree: Master of Science</li>
                                <li>Occupation: Web Developer</li>
                            </ul>
                        </div>
                        <p>{{about2}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>