<div class="intro-page">
    <div class="wrapper">
      <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true">
        </div>
        <div class="container">
          <div class="content-center">
            <h1 class="h2 title mb-4">Anil Kumar Mureboina</h1>
            <p class="category text-white">Software Developer</p>
          </div>
        </div>
        <div class="section">
          <div class="container">
            <div class="button-container">
              <a class="btn btn-default btn-round btn-lg btn-icon"
                href="#" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/anilkumar0331" target="_blank">
                <i class="fa fa-github"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="#"
                target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="#" target="_blank">
                <i class="fa fa-google-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
