<div class="intro-page">
    <div class="wrapper">
      <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true">
        </div>
        <div class="container">
          <div class="content-center">
            <h1 class="h2 title">Anil Kumar Mureboina</h1>
            <p class="category text-white">Full Stack Developer</p>
            <a class="btn" href="https://drive.google.com/file/d/1xPXmmrU8d5NbodivB11L0FZw-ck-i_yL/view" target="_blank" data-aos="zoom-in"
              data-aos-anchor="data-aos-anchor">Download CV</a>
          </div>
        </div>
        <div class="section">
          <div class="container">
            <div class="button-container">
              <a class="btn btn-default btn-round btn-lg btn-icon"
                href="https://www.linkedin.com/in/anil-kumar-mureboina-4a21881a0/" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/anilkumar0331" target="_blank">
                <i class="fa fa-github"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="#"
                target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="#" target="_blank">
                <i class="fa fa-google-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  