<footer class="footer">
    <div class="container text-center">
        <div class="button-container">
            <a class="btn btn-default btn-round btn-lg btn-icon"
                href="#" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/anilkumar0331"
                target="_blank">
                <i class="fa fa-github"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="#" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="#" target="_blank">
                <i class="fa fa-google-plus"></i>
            </a>
        </div>
    </div>
    <div class="text-center text-muted">
        <p>&copy; All rights reserved.
        </p>
    </div>
</footer>